<div class="container">
    <div class="top-bar">
        <div class="top-bar__more">
            <img
                src="./assets/icon/more.svg"
                alt=""
                class="icon top-bar__more-icon"
            />
        </div>
        <div class="logo">
            <img
                src="./assets/icon/logo.png"
                alt="grocerymart"
                class="logo__img"
            />
            <h1 class="logo__title">grocerymart</h1>
        </div>

        <!-- Navbar -->
        <navbar class="navbar">
            <ul class="navbar__list">
                <li>
                    <a class="navbar__link" href="">
                        Departments
                        <img
                            src="./assets/icon/arrow-down.svg"
                            alt=""
                            class="icon navbar__arrow"
                        />
                    </a>
                </li>
                <li>
                    <a class="navbar__link" href=""
                        >Grocery
                        <img
                            src="./assets/icon/arrow-down.svg"
                            alt=""
                            class="icon navbar__arrow"
                        />
                    </a>
                </li>
                <li>
                    <a class="navbar__link" href=""
                        >Beauty
                        <img
                            src="./assets/icon/arrow-down.svg"
                            alt=""
                            class="icon navbar__arrow"
                        />
                    </a>
                </li>
            </ul>
        </navbar>

        <!-- Navbar Action -->
        <div class="top-act">
            <div class="top-act__group top-act__group--single">
                <button class="top-act__btn">
                    <img
                        src="./assets/icon/search-icon.svg"
                        alt=""
                        class="icon top-act__search-btn"
                    />
                </button>
            </div>
            <div class="top-act__group">
                <div class="top-act__heart">
                    <button href="">
                        <img
                            src="./assets/icon/heart.svg"
                            alt=""
                            class="icon top-act__heart-btn"
                        />
                    </button>
                    <span class="top-act__title">03</span>
                </div>
                <div class="top-act__separate"></div>
                <div class="top-act__cart">
                    <img
                        src="./assets/icon/cart.svg"
                        alt=""
                        class="icon top-act__cart-btn"
                    />
                    <span class="top-act__title">$65.42</span>
                </div>
            </div>
            <div class="top-act__user">
                <img
                    src="https://plus.unsplash.com/premium_photo-1669879825881-6d4e4bde67d5?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt=""
                    class="top-act__avatar"
                />
            </div>
        </div>
    </div>
</div>
