@use "../abstracts";

.footer {
    padding: 50px 0;
    background: var(--footer-bg-color);

    &__row {
        display: grid;
        grid-template-columns: 2fr 1.3fr 1fr 1fr 1.5fr;
        column-gap: 60px;
        @include abstracts.screen(lg) {
            grid-template-columns: 1fr;
        }
    }

    &__col {
        margin-top: 65px;
    }

    &__desc,
    &__help-text {
        color: var(--text-color);
        font-size: 1.6rem;
        line-height: 2.5rem;
        margin-top: 20px;
    }

    &__help-text {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    // &__form {
    //     display: flex;
    //     align-items: center;
    //     @include abstracts.screen(xl) {
    //         flex-direction: column;
    //     }
    //     @include abstracts.screen(lg) {
    //         flex-direction: row;
    //     }
    // }

    &__form {
        display: flex;
        gap: 10px;
        padding: 16px 0;

        @include abstracts.screen(xl) {
            flex-direction: column;
        }

        @include abstracts.screen(lg) {
            flex-direction: row;
        }
    }

    &__input {
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 100%;
        outline-color: green;
        padding: 16px;
        height: 46px;

        @include abstracts.screen(xl) {
            margin-bottom: 10px;
        }
        @include abstracts.screen(lg) {
            width: 40%;
        }
        @include abstracts.screen(md) {
            flex: 1;
            width: 100px;
        }
    }

    &__heading {
        font-weight: 600;
        color: var(--text-color);
        font-size: 1.6rem;
        font-size: 1.8rem;
    }

    &__list {
        margin-top: 35px;
        color: var(--text-color);
        font-size: 1.6rem;
        line-height: 2.2rem;

        @include abstracts.screen(lg) {
            margin-top: 25px;
        }

        &-item {
            margin-top: 20px;
        }
        &-link {
            &-link {
                margin-top: 20px;
            }
            &:hover {
                color: #0071dc;
            }
        }
    }
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    @include abstracts.screen(lg) {
        flex-wrap: wrap-reverse;
        gap: 40px;
        justify-content: center;
    }
    &-policy {
        color: var(--text-color);
    }

    &-social {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &-link {
        padding: 8px;
        width: 32px;
        height: 32px;
        border-radius: 6px;
        display: flex;
        align-items: center;

        filter: grayscale(50%);
        transition: translate, filter;
        transition-duration: 0.3s;

        @include abstracts.screen(sm) {
            width: 42px;
            height: 42px;
        }

        &--facebook {
            background: #4863a9;
        }

        &--youtube {
            background: #f00;
        }

        &--tiktok {
            background: #000;
        }

        &--twitter {
            background: #4999e6;
        }

        &--linkedin {
            background: #2f71ab;
        }

        &:hover {
            filter: grayscale(0);
            translate: 0 -3px;
        }
    }
    &-icon {
        width: 14px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%)
            contrast(99%);

        @include abstracts.screen(sm) {
            width: 18px;
        }
    }
}

// .footer__bottom-icon {
//     width: 14px;
//     filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%)
//         contrast(99%);

//     @include abstracts.screen(sm) {
//         width: 18px;
//     }
// }
