@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%)
        contrast(99%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    // mega menu Dropdown
    --dropdown-bg-color: #292e39;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(30%) sepia(5%) saturate(2312%) hue-rotate(183deg)
        brightness(95%) contrast(86%);
    // menu-content
    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(95%) sepia(6%) saturate(527%) hue-rotate(180deg)
        brightness(107%) contrast(96%);

    // Side bar
    --side-bar-shadow-color: rgba(23, 28, 40, 0.4);
    --side-bar-background-color: #292e39;

    // categories
    --category-bg-color: #171c28;
    --category-thumb-bg-color: #292e39;
    --category-title-color: #fff;
    @include abstracts.screen(lg) {
        --category-bg-color: #171c28;
    }

    // product-card
    --product-card-color-background: #171c28;
    --product-card__filter-color: #fff;
    --product-card-box-shadow-color: rgba(0, 0, 0, 0.2);
    --product-filter-bg-color: #171c28;

    // Filter
    --filter-input-border-color: #fff;
    --filter-backgroud: #292e39;
    --filter-shadow: rgba(0, 0, 0, 0.4);

    --filter-label-color: #9e9da8;
    --filter-label-backgroun-color: #171c28;
    --filter-arrow-up-color: brightness(0) saturate(100%) invert(16%) sepia(9%) saturate(1280%) hue-rotate(183deg)
        brightness(96%) contrast(92%);

    // Auth
    --auth-content-bg: #292e39;
    --auth-intro-bg: #171c28;
    --auth-intro-text-color: #b9babe;
    --auth-heading-color: #b9babe;
    --sign-with-google-btn-color: #b9babe;
    --form-input-bg: #292e39;

    // Forms
    --form-placeholder-color: #b9babe;
    --form-select-dialog-shadow: rgba($color: #fff, $alpha: 0.15);
    --form-select-dialog-bg: #2f3441;
    --form-option-hover-bg: #292e39;

    // Product detail
    --breadcrumbs-bg: #171c28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);
}
