@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%)
        contrast(95%);

    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
    }
    // mega menu Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;
    // menu-content
    --top-menu-border-color: #d2d1d6;

    // Side bar
    --side-bar-shadow-color: rgba(200, 200, 200, 0.4);
    --side-bar-background-color: #fff;

    // categories
    --category-bg-color: #eee;
    --category-thumb-bg-color: #fff;
    --category-title-color: #000;
    --category-mobile-bg-color: #fff;

    // product-card
    --product-card-color-background: #fff;
    --product-card__filter-color: #1a162e;
    --product-card-box-shadow-color: rgba(237, 237, 246, 0.2);
    --product-filter-bg-color: #fff;

    // Filter
    --filter-input-border-color: #d2d1d6;
    --filter-backgroud: #fff;
    --filter-shadow: rgba(200, 200, 200, 0.4);
    --filter-label-color: #9e9da8;
    --filter-label-backgroun-color: #f8f8fb;
}
