@use "../abstracts";

.theme-settings-button {
    width: 60px;
}
.light-mode-button,
.dark-mode-button {
    &.hide {
        display: none;
    }
    color: var(--text-color);
    font-size: 1.9rem;
}

// .dark-mode-button {
//     &.hide {
//         display: none;
//     }
//     color: var(--text-color);
// &:hover {
//     padding: 13px;
//     border-radius: 8px;
//     background-color: #f1f4f8;
// }
// @include abstracts.screen(xl) {
//     &:hover {
//         padding: 0;
//         background-color: transparent;
//     }
// }
// }

// .light-mode-button {
//     &.hide {
//         display: none;
//     }
//     color: var(--text-color);
// &:hover {
//     padding: 13px;
//     border-radius: 8px;
//     background-color: #2d2d31;
// }
// @include abstracts.screen(xl) {
//     &:hover {
//         padding: 0;
//         background-color: transparent;
//     }
// }
// }
