@use "../abstracts";

.theme-settings-button {
    width: 60px;
}
.light-mode-button,
.dark-mode-button {
    &.hide {
        display: none;
    }
    color: var(--text-color);
    font-size: 1.9rem;
}

.light-mode-button {
    color: #fdfdfd;
}
.dark-mode-button {
    color: #47507d;
}
