@use "../abstracts";
%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);
}

.top-bar {
    @extend %flexItemsCenter;
    position: relative;

    padding: 30px 0;
    @include abstracts.breakpoint(lg) {
        padding: 20px 0;
    }
    @include abstracts.breakpoint(sm) {
        padding: 16px;
        justify-content: space-between;
        padding-left: 21px;
        padding-right: 21px;
    }

    &__more {
        display: none;
        @include abstracts.breakpoint(lg) {
            display: block;
            margin-right: 80px;
            transform: scale(1.3);
        }
        @include abstracts.breakpoint(sm) {
            margin: 0;
        }
    }
}

.navbar {
    margin-left: 144px;
    @include abstracts.breakpoint(xl) {
        margin-left: 50px;
    }
    &__sidebar--action-btn {
        display: none;
        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }

    &__sidebar {
        margin-top: 20px;
        padding-left: 20px;
        display: block;
    }
    &__sidebar-icon {
        width: 24px;
        height: 24px;
        object-fit: cover;
    }
    &__sidebar-title {
        color: var(--text-color);
        padding-left: 16px;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__sidebar-quantity {
        margin-left: auto;
        margin-right: 20px;
        color: var(--text-color);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 146.667%;
    }

    // Tablet drawer navbar
    @include abstracts.breakpoint(lg) {
        translate: -100%;
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 9;
        background: var(--side-bar-background-color);
        margin-left: 0;
        padding-top: 20px;
        transition: translate 0.3s;

        // If navbar have "show" class name
        &.show {
            translate: 0;
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
        border-radius: 0px 20px 20px 0px;
        box-shadow: 0px 40px 90px 20px var(--side-bar-shadow-color);
    }
    @include abstracts.breakpoint(md) {
        width: 80%;
    }
    &__close-btn {
        display: none;
        @include abstracts.breakpoint(lg) {
            display: block;
            padding: 10px 40px;
        }
        @include abstracts.breakpoint(lg) {
            padding-left: 20px;
        }
    }

    // overlay of navbar
    &__overlay {
        visibility: hidden;
        opacity: 0;
        @include abstracts.breakpoint(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;
            background: rgba($color: #000000, $alpha: 0.4);
            transition: opacity 0.5s, visibility 0.5s;
        }
    }

    // navbar__list
    &__list {
        @extend %flexItemsCenter;
        justify-content: center;
        align-items: center;
        overflow-y: auto;

        overscroll-behavior: container;

        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            height: calc(100% - 152px);
        }
    }

    &__item {
        padding: 20px 15px;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.breakpoint(lg) {
            &:hover .dropdown {
                display: none;
            }
            &--active .dropdown {
                display: block !important;
            }

            padding: 15px 20px 0 20px;
            &:first-child {
                padding-left: 20px;
            }
            &:last-child {
                padding-right: 20px;
            }
            width: 100%;
        }
    }

    &__link {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        @extend %flexItemsCenter;
        gap: 6px;
        color: var(--text-color);
        @include abstracts.breakpoint(lg) {
            font-size: 1.6rem;
            line-height: 150%;
            justify-content: space-between;
        }
    }
    &__arrow {
        margin-top: 3px;
        @include abstracts.breakpoint(lg) {
            rotate: -90deg;
            transition: rotate 0.3s ease;
        }
    }
    &__item--active .navbar__arrow {
        rotate: 0deg;
    }
}

.top-act {
    @extend %flexItemsCenter;
    justify-content: space-between;
    margin-left: auto;
    @include abstracts.breakpoint(sm) {
        margin: 0;
    }

    &__search-btn {
        border-radius: 8px;
        // height: 30px;
        cursor: pointer;
    }
    &__group {
        @extend %flexItemsCenter;
        justify-content: space-between;
        border-radius: 8px;
        padding: 10px 20px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
        cursor: pointer;
    }
    &__group--single {
        margin: 0 20px;
        padding: 10px 10px;
    }
    &__heart {
        @extend %flexItemsCenter;
    }
    &__heart-btn {
        // height: 30px;
        cursor: pointer;
    }
    &__title {
        display: inline-block;
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        margin-left: 10px;
    }
    &__separate {
        width: 2px;
        height: 30px;
        margin: 0 20px;
        background: var(--top-act-group-separate);
    }
    &__cart {
        margin-right: 10px;
        @extend %flexItemsCenter;
    }
    &__user {
        cursor: pointer;
    }
    &__avatar {
        margin-left: 20px;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
        object-fit: cover;
        @include abstracts.breakpoint(sm) {
            margin: 0;
        }
    }
}
