.like-btn {
    width: 50px;
    height: 50px;
    padding: 3px 2.503px 3.002px 2.5px;
    fill: var(--secondary-color-background, #fff);
    box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);
    border-radius: 50%;

    &--liked .product-card__like-btn-icon {
        display: none;
    }

    // When the like-btn does not have the --liked modifier, hide the red icon
    &:not(.like-btn--liked) .product-card__like-btn-red-icon {
        display: none;
    }

    // When the like-btn has the --liked modifier, show the red icon
    &.like-btn--liked .product-card__like-btn-red-icon {
        display: block;
    }
}

// Buttons
.btn {
    height: 46px;
    padding: 0 20px;
    border-radius: 6px;

    background: #f8f8fb;

    display: flex;
    align-items: center;

    font-size: 1.8rem;
    font-weight: 500;
    user-select: none;

    + .btn {
        margin-left: 20px;
    }

    &--text {
        color: #9e9da8;
        background: transparent;
        font-weight: 400;
        height: 100%;
    }

    &--primary {
        color: #171c28;
        background: #ffb700;
    }

    &--outline {
        background: transparent;
        border: 1px solid #d2d1d6;
    }

    &--rounded {
        border-radius: 99px;
    }

    &[disabled],
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        opacity: 0.9;
    }
}
