@use "../abstracts";

.gutter-x {
    --grid-gutter-x: 51px;
    --grid-gutter-y: 20px;

    @include abstracts.screen(xxl) {
        --grid-gutter-x: 32px;
    }
    @include abstracts.screen(lg) {
        --grid-gutter-x: 24px;
    }
}

.cate-item {
    display: flex;
    gap: 20px;
    background: var(--category-bg-color);
    padding: 20px 26px;
    border-radius: 16px;
    height: 100%;

    @include abstracts.screen(xl) {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    @include abstracts.screen(md) {
        flex-direction: row;
    }

    &__thumb {
        width: 116px;
        height: 116px;
        object-fit: contain;
        background: var(--category-thumb-bg-color);
        border-radius: 8px;
        height: 100%;

        @include abstracts.screen(xl) {
            // margin: auto;
            width: 100%;
            height: 160px;
        }
        @include abstracts.screen(md) {
            margin: 0;
            width: auto;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 6px;
    }
    &__title {
        color: var(--category-title-color);
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 145.455%;
        @include abstracts.screen(lg) {
            font-size: 1.8rem;
        }
    }
    &__desc {
        color: var(--text-color);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        @include abstracts.screen(xl) {
            padding-right: 0;
            font-size: 1.4rem;
        }
    }
}
