@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0;
    padding-top: 54px;
    width: min(1240px, 100%);

    display: none;

    @include abstracts.breakpoint(lg) {
        position: initial;
        padding-top: 0;
    }

    left: 0;
    &__inner {
        --inner-padding: 30px;

        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
        color: var(--text-color);
        position: relative;

        &::before {
            content: url("../icon/mega-menu-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
        @include abstracts.breakpoint(lg) {
            border-radius: 0;
            box-shadow: none;
            &::before {
                content: none;
            }
            padding: 20px 0 0 0;
        }
    }
}

.top-menu {
    --main-column-width: 292px;
    --max-inner-height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);

    // position use for sub-menu
    position: relative;

    &__main {
        width: var(--main-column-width);
        height: var(--max-inner-height);
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;
        @include abstracts.breakpoint(lg) {
            border-right: none;
            height: auto;
            width: 100%;
        }
    }
}

.menu-column {
    display: flex;
    gap: 14px;
    // .menu-column + .menu-column
    & + & {
        padding-top: 30px;
    }
    @include abstracts.breakpoint(lg) {
        margin-top: 14px;
        & + & {
            padding-top: 30px;
        }
        margin-top: 0;
    }
    &__icon {
        flex-shrink: 0;
        position: relative;
        height: 36px;
        width: 36px;
        @include abstracts.breakpoint(lg) {
            // display: none;
        }
    }
    &__icon1 {
        width: 30px;
        height: 30px;
    }
    &__icon2 {
        width: 24px;
        height: 24px;
        position: absolute;
        bottom: 0;
        right: 0;
        filter: var(--menu-column-icon-color);
    }
    &__content {
        flex: 1;
    }
    &__heading {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 24px;
    }
    &__list {
        padding-top: 23px;
        padding-right: 6px;

        @include abstracts.breakpoint(lg) {
            padding-top: 20;
        }
        &-item {
            &--active > &-link,
            &:hover > &-link {
                color: #0071dc;
                font-weight: 500;
            }
            // "menu-column__list-item--active"が生成される場合は“display: grid;”が有効になる。
            &--active .sub-menu {
                display: grid;
            }
            // .menu-column__list-item + menu-column__list-item
            & + & {
                padding-top: 14px;
            }

            &-link {
                font-size: 14px;
                font-weight: 400;
                line-height: 142.857%;
                display: block;
            }
        }
        line-height: 142.857%;
    }
}

.sub-menu {
    padding-left: var(--inner-padding);
    position: absolute;
    inset: 0 0 0 var(--main-column-width);

    display: none;
    grid-template-columns: repeat(3, 1fr);
    max-height: calc(var(--inner-max-height) + 60px - var(--inner-padding));
    overflow-y: auto;

    @include abstracts.breakpoint(lg) {
        position: initial;
        grid-template-columns: 1fr;
        padding-left: 0;
    }

    &__column {
        & + & {
            padding-left: 10px;
            padding-top: 30px;
        }
        @include abstracts.breakpoint(lg) {
            padding-top: 6px;
        }
    }
    &--not-main {
        // inherit height:  of "dropdown__inner", but not include padding-size
        max-height: calc(var(--inner-max-height) - var(--inner-padding));
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: initial;
        inset: initial;
        padding-left: 0;
        &__column {
            padding-left: 0;
        }
        @include abstracts.breakpoint(lg) {
            grid-template-columns: 1fr;
        }
    }
}
