.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    cursor: pointer;
    &__img {
    }
    &__title {
        color: var(--text-color);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
    }
}
