@use "../abstracts";

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    &__img {
        @include abstracts.breakpoint(lg) {
            width: 24px;
        }
    }
    &__title {
        color: var(--text-color);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
    }
}
