.product-filter {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 6px 12px;
    border-radius: 6px;
    background: var(--product-filter-bg-color);

    &__title {
        color: var(--product-card__filter-color);
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 142.857%;
    }
    &__icon {
        color: var(--product-card__filter-color);
    }
}
.product-card {
    padding: 16px;
    border-radius: 20px;
    background: var(--product-card-color-background, #fff);
    box-shadow: 0px 20px 60px 10px var(--product-card-box-shadow-color);

    &__img-wrap {
        margin-bottom: 16px;
        position: relative;
    }
    &__thumb {
        height: 284px;
        width: 100%;
        object-fit: contain;
    }
    &__like-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__like-btn-red-icon {
        position: absolute;
        right: 3px;
        bottom: 3px;
    }
    &__info {
        &-title {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 150%;
            color: var(--text-color);
        }
        &-brand {
            color: #9e9da8;

            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 146.667%;
            margin: 16px 0;
        }
        &-bottom {
            display: flex;
            align-items: center;
            &-price {
                color: var(--secondary-color-secondary-1, #1a162e);
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 150%;

                color: var(--text-color);
            }
            &-rating {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-left: auto;
                &-text {
                    color: var(--text-color);
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 150%;
                }
            }
        }
    }
}
