@use "../abstracts";

:root {
    --icon-color: #ffffff;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    background: var(--body-bg);
}

a,
button,
img,
div,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.icon {
    filter: var(--icon-color);
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0;
}

// override origin class container
.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
