@use "../abstracts";

:root {
    --icon-color: #ffffff;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    background: var(--body-bg);
}

a,
button,
img,
label,
div,
input,
textarea,
select {
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border: none;
}

.icon {
    filter: var(--icon-color);
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    user-select: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0;
}

// override origin class container
.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-color) !important; /* Sửa 'while' thành 'white' */
    background-color: black !important;
}

// input:-webkit-autofill {
//     box-shadow: 0 0 0 1000px rgb(0, 0, 0) inset !important; // background-colorでは変わらないため、box-shadowを指定。
//     -webkit-text-fill-color: #fff !important;
// }

// // 自動補完後のカーソルが黒になるので、合わせて変更。
// input:-webkit-autofill:focus {
//     caret-color: #fff !important;
// }

// Add transition to all elements for smooth theme change
* {
    transition: background-color 0.4s, color 0.4s;
}
