<div class="footer__inner">
    <br />
    <!-- <h2>Footer</h2> -->

    <!-- Theme Setting -->
    <div class="theme_setting">
        <!-- Settings Button -->
        <button id="settings-btn" class="settings-button">
            <img
                src="https://png.pngtree.com/element_our/png/20190103/vector-setting-icon-png_309695.jpg"
                alt="Settings"
                class="settings-button-icon"
            />
        </button>

        <!-- Theme Modal -->
        <div id="theme_modal" class="themeModal">
            <div class="themeModal__content">
                <h2>Select Theme</h2>
                <div class="themeModal__separate"></div>
                <button id="light-theme" class="themeModal__light-button">Light</button>
                <button id="dark-theme" class="themeModal__dark-button">Dark</button>
            </div>
        </div>
    </div>
</div>
