<div class="footer__inner">
    <footer class="footer" id="footer">
        <div class="container">
            <div class="footer__row">
                <!-- Footer column 1 -->
                <div class="footer__col">
                    <a href="#!" class="footer__logo logo">
                        <img src="./assets/icon/logo.png" alt="" class="logo__img" />
                        <h1 class="logo__title">grocerymart</h1>
                    </a>

                    <p class="footer__desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime et veniam eligendi rem
                        voluptatibus.
                    </p>
                    <p class="footer__help-text">Receive product news and updates.</p>
                    <form action="#!" class="footer__form">
                        <input type="email" name="email" id="email" placeholder="Email Address" class="footer__input" />
                        <button class="btn btn--primary">SEND</button>
                    </form>
                </div>

                <!-- Footer column 2 -->
                <div class="footer__col">
                    <h3 class="footer__heading">SHOP</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">All Departments</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Fashion Deals</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Electronics Discounts</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Home & Living Specials</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Beauty Bargains</a>
                        </li>
                    </ul>
                </div>

                <!-- Footer column 3 -->
                <div class="footer__col">
                    <h3 class="footer__heading">SUPPORT</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Store locator</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Order status</a>
                        </li>
                    </ul>
                </div>

                <!-- Footer column 3 -->
                <div class="footer__col">
                    <h3 class="footer__heading">COMPANY</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Customer Service</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Terms of Use</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Careers</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Privacy</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">About</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Affiliates</a>
                        </li>
                    </ul>
                </div>

                <!-- Footer column 3 -->
                <div class="footer__col">
                    <h3 class="footer__heading">CONTACT</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Email contact@grocerymart.com</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Hotline 18008888</a>
                        </li>

                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link"
                                >Address No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District,
                                City. Hanoi</a
                            >
                        </li>

                        <li class="footer__list-item">
                            <a href="#!" class="footer__list-link">Hours M - F 08:00am - 06:00pm</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom">
                <p class="footer__bottom-policy">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
                <div class="footer__bottom-social">
                    <a href="#!" class="footer__bottom-link footer__bottom-link--facebook">
                        <img src="../assets/icon/facebook.svg" alt="" class="footer__bottom-icon" />
                    </a>
                    <a href="#!" class="footer__bottom-link footer__bottom-link--youtube">
                        <img src="../assets/icon/youtube.svg" alt="" class="footer__bottom-icon" />
                    </a>
                    <a href="#!" class="footer__bottom-link footer__bottom-link--tiktok">
                        <img src="../assets/icon/tiktok.svg" alt="" class="footer__bottom-icon" />
                    </a>
                    <a href="#!" class="footer__bottom-link footer__bottom-link--twitter">
                        <img src="../assets/icon/twitter.svg" alt="" class="footer__bottom-icon" />
                    </a>
                    <a href="#!" class="footer__bottom-link footer__bottom-link--linkedin">
                        <img src="../assets/icon/linkedin.svg" alt="" class="footer__bottom-icon" />
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Theme Setting -->
    <div class="theme_setting">
        <!-- Settings Button -->
        <button id="settings-btn" class="settings-button">
            <i class="fa-solid fa-gear settings-button-icon"></i>
        </button>

        <!-- Theme Modal -->
        <div id="theme_modal" class="themeModal">
            <div class="themeModal__content">
                <h2>Select Theme</h2>
                <div class="themeModal__separate"></div>
                <button id="light-theme" class="themeModal__light-button">Light</button>
                <button id="dark-theme" class="themeModal__dark-button">Dark</button>
            </div>
        </div>
    </div>
</div>
